<!DOCTYPE html>
<html>
<head>
    <title>Story 6 PPW - Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-12">
            <h1>Halo, apa kabar?</h1>
        </div>
    
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                {{ status_form }}
                <button type="submit" id="simpan" class="btn btn-light">Simpan Status</button>
            </form>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-12">
            <h2>Daftar Status:</h2>
            {% if statuses %}
            {% for status in statuses reversed %}
            <div class="row">
                <div class="col-4">
                    <h3>{{ status.status }}</h3>
                </div>
                <div class="col-4">
                    <h3>{{ status.tanggal_pengisian }}</h3>
                </div>
                <div class="col-4">
                    <form action="delete_status/" method="post">
                        {% csrf_token %}
                        <input type="hidden"  name="id" value="{{ status.id }}">
                        <button type="submit" id="hapus" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <h3 style="color: aqua;">Belum ada status</h3>
            {% endif %}
        </div>
    </div>
</div>
</body>